node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next

# Firebase Configuration Files
firebase-config.env
firebase-backend.env
firebase-service-account.json
firebase-adminsdk-*.json

# Environment Files
.env.example
.env.template
